= link_to 'Add Schedule', new_twitter_scheduler_path, class: 'btn btn-default'
%br/
.content-div
  .col-md-6#twitter_scheduler
    %table.table.table-striped
      %tr
        %th Post Text
        %th Schedule At
        %th
        %th
        %th
      - @twitter_schedulers.each do |schedule|
        %tr
          %td= schedule.post_text
          %td= schedule.schedule_at
          %td
            = link_to schedule, id: 'show_link' do
              <i class='glyphicon glyphicon-th' title='show'></i>
          %td
            - if schedule.scheduled?
              = link_to edit_twitter_scheduler_path(schedule), id: 'edit_link' do
                <i class='glyphicon glyphicon-pencil' title='Edit'></i>
          %td
            = link_to schedule, id: 'delete_link', method: :delete, data: { confirm: 'Are You Sure?'} do
              <i class='glyphicon glyphicon-trash' title='Delete'></i>

  - if @tweets.present?
    .col-md-6#tweets
      %table.table.table-striped
        %tr
          %th
          %th Recent Tweets
        - @tweets.each do |tweet|
          %tr
            %td
              - if tweet.retweeted_status.present?
                = image_tag tweet.retweeted_status.user.profile_image_url
              - else
                = image_tag tweet.user.profile_image_url
            %td
              - if tweet.retweeted_status.present?
                %b= tweet.retweeted_status.user.name
              - else
                %b= tweet.user.name
              %br/
              = auto_link(tweet.text, html: { target: '_blank' })
              %br/
              .tweet-details
                = distance_of_time_in_words(tweet.created_at, Time.now)
