= form_for @twitter_scheduler, html: { class: 'form-horizontal', 'role' => 'form' } do |f|
  .form-group
    = f.label :post_text, 'Post Contents', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :post_text, class: 'form-control'
  .form-group
    = f.label :schedule_at, 'Schedule Post At', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :schedule_at, class: 'form-control', id: 'schedule_at'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Save', class: 'btn btn-default'
