%table.table
  %tr
    %td Post Text
    %td= @twitter_scheduler.post_text
  %tr
    %td Schedule At
    %td= @twitter_scheduler.schedule_at
  %tr
    %td Status
    %td= @twitter_scheduler.status.humanize
  - if @twitter_scheduler.photo.present?
    %tr
      %td Photo
      %td
        = image_tag @twitter_scheduler.photo.url

.form-group
  = link_to 'Back', twitter_schedulers_path, class: 'btn btn-default'
  - if @twitter_scheduler.scheduled?
    = link_to 'Edit', edit_twitter_scheduler_path(@twitter_scheduler), class: 'btn btn-default'
