<!DOCTYPE html>
%html
%head
  %title Twitter Scheduler
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  .navbar.navbar-default.navbar-fixed-top{ 'role' => 'navigation'}
    .container
      .navbar-header
        %a.navbar-brand{ href: '/'} Twitter Scheduler
      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            = link_to 'Home', '/'
          - if current_user
            %li
              = link_to 'Schedule Tweet', twitter_schedulers_path
        %ul.nav.navbar-nav.navbar-right
          - if current_user
            %li.active
              = link_to 'Sign Out', signout_path, method: :delete
          - else
            %li.active
              = link_to 'Sign In With Twitter', '/auth/twitter'
  .container
    .starter-template
      - if flash.present?
        - flash.each do |name, msg|
          - if (name.to_s == 'notice') || (name.to_s == 'alert')
            - flash_class = 'alert-warning'
          - elsif name.to_s == 'error'
            - flash_class = 'alert-danger'
          - elsif name.to_s == 'success'
            - flash_class = ' alert-success'

          = content_tag :div, msg, :class => "alert #{flash_class}", :id => 'flash' if msg.present?
      = yield
%hr/
#footer
  .container
    %p
      &copy;
      %a{href: "http://www.cuberoot.in"}Cube Root Software
