<!DOCTYPE html>
%html
%head
  %title BlogApplication
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  .navbar.navbar-default.navbar-fixed-top{ 'role' => 'navigation'}
    .container
      .navbar-header
        %a.navbar-brand{ href: '/'} BlogApplication
      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            = link_to 'Home', '/'
          - if current_user
            %li
              = link_to 'Schedule Tweet', twitter_schedulers_path
        %ul.nav.navbar-nav.navbar-right
          - if current_user
            %li.active
              = link_to 'Sign Out', signout_path, method: :delete
          - else
            %li.active
              = link_to 'Sign In With Twitter', '/auth/twitter'
  .container
    .starter-template
      = yield
#footer
  .container
    %p
      &copy;
      %a{href: "http://www.cuberoot.in"}Cube Root Software
